################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

bin
obj
TestResults
/.vs/ConEd.EnergyEfficiency/v15
!/packages
packages/*
!/packages/CEI.*
!/packages/Microsoft.Azure.Documents.Client.dll
/ConEd.EnergyEfficiency.API/obj/
/ConEd.EnergyEfficiency.API/bin/**/*
/ConEd.EnergyEfficiency.API.Tests/obj/
/ConEd.EnergyEfficiency.API.Tests/bin/**/*

/ConEd.EnergyEfficiency.Common/obj/
/ConEd.EnergyEfficiency.Common/bin/**/*

/ConEd.EnergyEfficiency.Repository/obj/
/ConEd.EnergyEfficiency.Repository/bin/**/*

/ConEd.EnergyEfficiency.Service/obj/
/ConEd.EnergyEfficiency.Service/bin/**/*

.vs
*.user